* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;

    text-decoration: none;
}
.feedback {
  background-color:black;
  border-radius: 40px;
  padding: 10px 30px;
  color: white;
}
#logo{
  margin-top: 5px;
  width: 150px;
}
#mybutton {
  position: fixed;
  /* bottom: 4px; */
  top: 35rem;
  right: 10px;
  color: white;
}
body {
    font-family: "Open San", Arial, sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: #000;
    background-color:#F5F5F5;
    text-align: justify;

}


/* Navbar */

nav {
    height: 90px;
    background: #0007;
    position: fixed;
    /* float: right; */
    width: 100%;
}

.nav img {
    width: 150px;
    position: absolute;
    top: 2px;
    height: 70px;
    left: 12%;
}

.nav-links {
    float: right;
    margin-right: 50px;
}

nav ul .navlinking {
    display: inline-block;
    /* line-height: 50px; */
    margin-right: 2rem;
    margin-top: 2rem;
    text-align: center;
}

nav ul li a {
    position: relative;
    font-size: 13px;
    color: white;
    font-weight: 400;
    /* padding: 5px 0; */
    text-transform: uppercase;
}

nav ul li a:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

nav ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

label #navbutton,
label #cancel {
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

#active {
    color: red;
}

ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    left: 0;
    margin-left: 61.8rem;
    list-style: none;
    margin-top: 0.1rem;
    ;
    background-color: #0007;
    width: 350px;
    height: 44vh;
    /* list-style-type: none; */
}

ul li:hover>ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
    margin-bottom: 2rem;
}

ul li ul li:hover {
    background-color: #fff8;
}

.hellos {
    float: left;
    width: 40%;
    margin-left: 18px;
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align: left;
}

.hello {
    width: 50%;
    float: left;
    margin-top: 2rem;
    margin-left: 0.65rem;
    color: red;
    text-align: left;
}

.drophover {
    background-color: #fff0;
    font-size: 13px;
}

.drophover:hover {
    background-color: none;
}

ul li ul li .dropdown:hover {
    background-color: none;
    /* font-size: 10px; */
}


/* Navbar */


/* Part1 Starts Here */

.bg-img {
    /* background-image: url("https://nikiglasstudio.com/wp"); */
        background-image: url(https://nikiglasstudio.com/wp-content/uploads/2018/11/About-Us-Header-1.jpg)!important;
    min-height: 100px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Needed to position the navbar */
    position: relative;
    height: 46vh;
    background-color: grey;
}

.container {
    text-align: center;
    padding-top: 10rem;
    padding-right: 0rem;
    padding-bottom: 9rem;
    padding-left: 0px;
}

.headline {
    font-weight: 400;
    font-size: 60px;
    font-display: block;
    color: #ffffff!important;
    text-align: left;
    text-shadow: 0em 0.1em 0.1em rgba(0, 0, 0, 0.4);
    -webkit-animation: slidings 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slidings 0.5s forwards;
    animation-delay: 2s;
    margin-left: 3rem;
}

h2 {
    font-size: 26px;
    color: #000!important;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 0em 0.1em 0.1em #9b9b9b;
}

@-webkit-keyframes slidings {
    100% {
        left: 0;
    }
}

@keyframes slidings {
    100% {
        left: 0;
    }
}

.btn {
    position: relative;
    padding: .3em 1em;
    border: 2px solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5em!important;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

.btn-1 {
    color: #FFFFFF!important;
    border-width: 0px!important;
    background-color: #ED2224;
    transition: all 300ms ease 0ms;
    display: inline-block;
    margin-top: 14px;
    padding: 14px;
}

.btn-1:hover {
    background-color: red;
    transition: 0.9s;
}


/*Part1 Ends Here*/


/*Part1 Ends Here*/

.scrolling-active {
    background-color: #0007;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
}

.scrolling-active .nav {
    height: 70px;
    background-color: #0007;
}

.scrolling-active .nav a {
    color: white;
}

.scrolling-active .nav #logo {
  margin-top: 0.4rem;
    height:55px;
    width: 120px;
}

.scrolling-active .nav-link::after {
    background-color: #313131;
}


/* Part2 Starts Here */


/*Part2 Starts Here*/

.wrappers {
    overflow: hidden;
    /* background: rgba(0,,f,0.1); */
    /* background-color: #f8f8f8fd; */
    /* color: #9e9e9e; */
    color: #000;
    font-weight: 500;
}

.wrappers #container1 {
    width: 100%;
    margin: auto;
    height: auto;
    overflow-y: hidden;
    text-align: center;
    height: 80vh;
    background-color:#F5F5F5;
    color: #000;
    /* overflow: hidden; */
}

.image1 {
    padding-top: 100px;
    padding-bottom: 60px;
    height: 80%;
    width: 70%;
    text-align: center;
}

#container1 .rights {
    float: left;
    width: 60%;
    margin-top: 90px;
    font-weight: 500;
}

.lines1 {
    background-color: red;
    height: 2px;
    width: 60px;
}

.headers {
    padding-top: 2rem;
    padding-right: 4rem;
    /* padding-bottom: 3rem; */
    text-align: left;
    color: black;
    background-color:#F5F5F5;
}

.master,
.masterinner {
    font-size: 20px;
    text-align: left;
    font-weight: 100;
    padding-bottom: 0.4rem;
}

h3 {
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 2.5rem;
    padding-top: 0.4rem;
}

.masterinner1,
.masterinner2,
.masterinner3,
.masterinner4 {
    font-size: 17px;
    text-align: left;
    font-weight: 400;
    padding-bottom: 1.5rem;
    text-align: justify;
    margin-left: 5rem;
    margin-right: 2rem;
    color: black;

}

.about {
    text-align: center;
    margin-bottom: 3rem;
}

.rowbtn {
    text-align: left;
}

a {
    text-decoration: none;
}

.row {
    display: flex;
    flex-direction: row;
    background-color: white;
    color: black;
    margin-top: 3rem;
    height: 30vh;
}

.col1,
.col2,
.col3,
.col4 {
  margin-top: 4rem;
    float: left;
    width: 20%;
    font-weight: 400;
    font-size: 30px;
    margin-left: 3rem;
    text-align: center;

}
.lastpart{

  height: 90vh;
  background-color:#fff;
  background-size: cover;

}
.image{
}
.lastpart .containers9{

  background-size: 1100px;
  background-image: url('images/resize-1597495790500717600background.jpg')!important;
  text-align: center;
  min-height: 100px;
  text-align: center;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
}

.subheadlines{
  margin-top: 1rem;

}
.am{
  padding-top: 10rem;
  color: #fff;

}
.btns1{
  text-align: center;
  margin-top: 2rem;
  height: 40px;
  width: 200px;
  border-radius: white;
  background-color: #fff;
  margin-left: 0rem;
}
.btns1:hover{
  background-color: #9999;
  transition: .7s;

}
.container5 {
    width: 100%;
    margin: auto;
    height: auto;
    overflow-y: hidden;
    text-align: center;
    height: 90vh;
    color: #fff;
}

.info {
    margin-left: 30rem;
    text-align: left;
    display: none;
}

.arrow1 {
    margin-top: 3rem;
    font-size: 30px;
    text-align: center;
    display: none;
}

.arrows {
    margin-top: 2rem;
    font-size: 20px;
}

.one,
.two,
.three,
.four {
    margin-top: 2rem;
    text-align: center;
    padding-bottom: 20px;
}


.arrow7 {
    margin-top: 1rem;
    font-size: 17px;
    text-align: center;
    font-weight: 600;
}

.lefts,
.rights {
    float: left;
    width: 40%;
    margin-left: 3rem;
    margin-top: 3rem;
    height: 100%;
}

.containers {
    background-image: url('images/right.jpg');
}

.arrows1 {
    margin-top: 3rem;
    font-size: 16px;
    text-align: left;
    margin-left: 5rem;
}
.skill{
  font-size: 20px;
  font-weight: 100;
}




/* Part2 Ends Here */

/* Why Choose Starts Here */
.rowin{
  height: 70vh;
  text-align: center;
  background-color:#F5F5F5;

}
.column1,.column2,.column3{
  width: 30%;
  float: left;
  margin-top: 2rem;
}
.skills{
  height:100px;
  width: 100px;
}
.firsts{
  font-size: 20px;
}
.seconds{
  font-size: 25px;
  /* margin-top: 2rem; */
  padding-top: 3rem;
}
/* Why Choose Ends Here */
/* Part3 Products Starts Here */

.container3 {
    /* height: 190vh;
    font-style: serif;
    /* background-color: #0009; */
    /* background-color:#111; */
    /* background-color: rgba(0,0,0,0.9); */
    /* padding-top: 50px; */
    /* text-align: center; */
    /* position: relative; */
    color: #fff;
    height: 280vh;
    font-style: serif;
    background-color: #111;
    padding-top: 50px;
    text-align: center;
}

.heading {
    font-size: 30px;
    font-weight: 100;
}

.subheading {
    font-size: 20px;
    font-weight: -1000rem;
}

.card1,
.card2,
.card3 {
    margin-left: 30px;
    /*margin-right: 29px;*/
    margin-top: 30px;
    float: left;
    width: 30%;
    /* border-radius: 10px; */
}

.images3 {
    height: 300px;
    width: 300px;
    border-radius: 2px;
}

.btns {
    margin-top: 2rem;
    margin-right: 6rem;
    text-align: center;
    border-color: grey;
    opacity: 1;
    justify-content: center;
    padding: 0.5rem;
    -ms-transform: translateX(60%);
    transform: translateX(40%);
}

.btns:hover {
    background-color: rgba(0, 255, 255, 0.8);
    transition: 0.6s;
}

.paragraph {
    text-align: center;
    /* margin-left: rem; */
    margin-left: -1rem;
    margin-top: 2rem;
}


/* Part3 Product Ends Here */


/* Part4 COntact and Map Starts Here */

.container4 {
    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: url('images/slide2.jpg');
    background-size: cover;
    overflow: hidden;
}

.container4 .leftmost {
    float: left;
    width: 40%;
    margin-top: 30px;
    background-color: #0008;
    margin-left: 3rem;
    height: 92vh;
    overflow: hidden;
}

.container4 .rightmost {
    float: left;
    width: 50%;
    margin-top: 30px;
    margin-left: 1rem;
    background-color: #0008;
    margin-right: 3rem;
    height: 92vh;
    overflow: hidden;
}

.headings {
    margin-top: 1rem;
    margin-bottom: -1.4rem;
    color: #fff;
    text-overflow: inherit;
    text-align: center;
    text-transform: uppercase;
}

.contactform {
    color: #000;
    text-align: left;
    margin-left: 8rem;
    margin-right: 8rem;
}

.messages textarea {
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #c5ecfd;
    padding: 10px;
    color: #c5ecfd;
    width: 100%;
}

textarea {
    width: 100%;
}

.inputs {
    margin-top: 30px;
}

.inputs label input {
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #c5ecfd;
    padding: 10px;
    color: #c5ecfd;
    width: 100%;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #c5ecfd;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #c5ecfd;
}

:-ms-input-placeholder {
    color: #c5ecfd;
}

#my-form-button {
    background: #39b7dd;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    width: 106%;
    margin-top: 2rem;
}

#my-form-status {
    margin-top: 13px;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}


/* Part4 ENds Here */


/* Footer Starts Here */

.container2 {
    width: 100%;
    margin: auto;
    height: auto;
    /* background: grey; */
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    text-align: center;
    height: 50vh;
    color: #eee;
    font-weight: 240;
    /* font-family: Oswald Helved; */
    /* overflow: hidden; */
}

.container2 .left1 {
    float: left;
    width: 30%;
    margin-top: 60px;
}

.container2 .left25 {
    float: left;
    width: 25%;
    margin-top: 60px;
}

.container2 .right25 {
    float: left;
    width: 20%;
    margin-top: 60px;
}

.container2 .right1 {
    float: left;
    width: 25%;
    margin-top: 60px;
}


/* For first lefy  and Second left*/

.texts p a,
.texts1 p a {
    color: #eee;
    font-family: serif;
    font-weight: 20;
}

.texts {
    text-align: left;
    margin-left: 10rem;
    margin-top: -0.6rem;
}


/* margin-bottom: 30px; */

.texts p,
.texts1 p,
.texts2 p {
    margin-bottom: 18px;
    font-family: serif;
    font-weight: 20;
}


/* For Second Left */

.texts1 {
    text-align: left;
    margin-left: 3rem;
    margin-top: -1rem;
}


/* For Second Right */

.texts2 {
    text-align: left;
    margin-top: -1rem;
}


/* First Right */

.logos {
    margin-right: 3rem;
    margin-top: 0.5rem;
    radius: 20px;
    /* border-radius: 50%; */
}

.images2 {
    border-radius: 50%;
}


/* Last Footer */

.End {
    background-color: black;
    /* padding: 28px; */
    height: 8vh;
}

  .left,.right{
    margin-top: 1.2rem;
    /* text-align: center; */
    float: left;
    width: 50%;
  }
  .right{
    text-align: right;
  }
  .ending{
    margin-left: 2rem;
  }
  .ending1 {
    /* margin-left: 36rem; */
    margin-bottom:10px;
    text-align: right;
    justify-content: space-between;
    margin-right: 10rem;
    color: #fff;

  }

  /* Ends here */
/* MediaQuery For Navbar */

@media (max-width:1118px) {
    nav img {
        left: 8%;
    }
}

@media (max-width:944px) {
    nav img {
        left: 6%;
        top: 20px;
        width: 130px;
    }
    nav ul .navlinking a {
        font-size: 17px;
    }
    /* Media Query FOr Navnar Ends Here */
    /* Media Query FOr Part1 Starts here */
    .bg-img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* Needed to position the navbar */
        position: relative;
        /* height: 92vh; */
    }
    .container {
        text-align: center;
        padding-top: 10rem;
        padding-right: 0rem;
        padding-bottom: 6rem;
        padding-left: 0px;
    }
    .headline {
        font-size: 45px;
        color: white;
        font-weight: bolder;
        text-align: center;
    }
    .subheadline {
        display: none;
    }
    /*Part1 Ends Here*/
    /* h2 {
      font-size: 20px;
      text-align: center;
  } */
    .btn,
    .btn-1 {
        /* padding-left: 10px; */
        /* padding-right: 0px; */
        font-size: 11px;
        margin-top: 20px;
        padding: 10px;
    }
    /* Part1 Ends Here */
    /* Media Query for Part2 Starts Here */
    #container1 {
        width: 100%;
        margin: auto;
        height: auto;
        overflow: auto;
        text-align: center;
        height: 180vh;
        color: #fff;
        overflow-x: hidden;
        width: 100%;
        height: 100%;
    }
    #container1 .lefts {
        text-align: center;
        width: 100%;
    }
    #container1 .rights {
        text-align: left;
        width: 100%;
        overflow-x: hidden;
        margin-top: 90px;
    }
    .lines1 {
        background-color: red;
        height: 4px;
        width: 30px;
        /* opacity: 0; */
        margin-left: 4rem;
    }
    .headers {
        padding-top: 2rem;
        padding-left: 4rem;
        padding-bottom: 3rem;
        text-align: left;
    }
    .master,
    .masterinner {
        font-size: 20px;
        text-align: left;
        font-weight: 700;
        padding-bottom: 0.4rem;
    }
    h3 {
        font-size: 15px;
        font-weight: 700;
        padding-bottom: 2.5rem;
    }
    .masterinner1,
    .masterinner2,
    .masterinner3,
    .masterinner4 {
        text-align: left;
        overflow-x: hidden;
        padding-bottom: 1.5rem
    }
    .rowbtn {
        text-align: center;
    }
    .btn-2,
    .btn-3 {
        color: red;
        text-align: center;
        margin-right: 4rem;
    }
    .btn2,
    .btn3 {
        color: white;
    }
    a {
        text-decoration: none;
    }
    .image1 {
        padding-bottom: 10px;
        height: 80%;
        width: 70%;
        text-align: center;
        float: left;
        padding-left: 49px;
    }
    .achieves {
        width: 100%;
        overflow-x: hidden;
        height: 30vh;
    }
    .achieve {
        text-align: left;
        margin-left: 3.5rem;
        font-size: 18px;
        margin-top: 3rem;
        width: 100%;
    }
    a {
        text-decoration: none;
    }
    /* th{ */
    /* padding-right: 10px; */
    /* }
  */
    table {
        padding-top: 2rem;
    }
    .one,
    .two,
    .three {
        /* margin-right: 3rem; */
        margin-top: 2rem;
        padding-right: 10px;
        text-align: center;
        padding-left: 30px;
        /* margin-bottom: rem; */
        padding-bottom: 20px;
    }
    .four {
        /* margin-left: 3rem; */
        padding-bottom: 20px;
        padding-right: 50px;
        /* padding-left: 30px; */
        text-align: center;
    }
    .container5 {
        width: 100%;
        margin: auto;
        height: auto;
        overflow-y: hidden;
        text-align: center;
        height: 190vh;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.8);
    }
    .info {
        margin-left: 30rem;
        text-align: left;
    }
    .arrow1 {
        margin-top: 3rem;
        font-size: 30px;
        text-align: center;
    }
    .arrows {
        margin-top: 2rem;
        font-size: 20px;
    }
    .one,
    .two,
    .three,
    .four {
        margin-top: 2rem;
        text-align: center;
        padding-bottom: 20px;
    }
    /* Part2 Ends Here */
    .wrappers {
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.8);
    }
    #container2 {
        display: none;
        opacity: 0;
        overflow: hidden;
        background-color: white;
    }
    .containers {
        background-color: white;
        text-align: center;
        padding-top: 5rem;
        padding-right: 0rem;
        padding-bottom: 9rem;
        padding-left: 0px;
        width: 400px;
    }
    .images7 {
        margin-top: 4rem;
        background-size: cover;
        background-image: url('images/card4.jpg');
        padding-bottom: 60px;
        height: 50%;
    }
    #logo{
      margin-top: 5px;
      width: 130px;
    }
    .lastpart{
      height: 100vh;
      background-color:#F5F5F5;
      height: 70vh;
      background-size: cover;

    }
    .images8{
    }
    .containers9{
      margin-top: 2rem;
      background-size: cover;
      background-image: url('images/background8.jpg');
      height: 70vh;
      text-align: center;
    }
    .subheadlines{
      margin-top: 1rem;

    }
    .am{
      padding-top: 10rem;
      color: #fff;
    }
    .btns1{
      background-color: #fff;
      text-align: center;
      margin-top: 2rem;
      height: 40px;
      border-radius: white;
      margin-left: 0rem;
    }
    .btns1:hover{
      background-color: #9999;
      transition: .7s;

    }

    .lists {
        text-decoration: none;
        color: white;
        font-weight: 800;
        font-size: 17px;
    }
    .subheadline {
        font-weight: 700;
        font-size: 20px;
        font-display: block;
        color: #ffffff!important;
        text-align: center;
        text-shadow: 0em 0.1em 0.1em rgba(0, 0, 0, 0.4);
        -webkit-animation: slidings 0.5s forwards;
        -webkit-animation-delay: 2s;
        animation: slidings 0.5s forwards;
        animation-delay: 2s;
        /* margin-top: rem; */
    }
    /* Part3 Products Starts Here */
    /* Part2 Ends Here */
    /* Part2 Media Query Ends Here */
    /* Part3 MediaQuery For Products Starts Here*/
    .container3 {
        height: 500vh;
        font-style: serif;
        text-align: center;
    }
    .heading {
        font-size: 30px;
        font-weight: 100;
    }
    .beforeproduct .subheading {
        font-size: 20px;
        font-weight: -1000rem;
        text-align: center;
    }
    .card1,
    .card2,
    .card3 {
        margin-left: 20px;
        /* margin-right: 20rem; */
        margin-top: 30px;
        float: left;
        width: 100%;
        /* border-radius: 10px; */
    }
    .images3 {
        height: 300px;
        width: 300px;
        border-radius: 2px;
        margin-right: 3rem;
    }
    .btns {
        margin-top: 1rem;
        margin-right: 8.8rem;
        text-align: center;
        border-color: grey;
        opacity: 1;
        justify-content: center;
        padding: 0.5rem;
        -ms-transform: translateX(60%);
        transform: translateX(40%);
        /* border-radius: 20px; */
    }
    .btns:hover {
        background-color: #ddd;
        transition: 0.6s;
    }
    .paragraph {
        /* text-align: center; */
        margin-right: 5rem;
        text-align: justify;
        margin-top: 2rem
    }
    /* Part3 MediaQuery for Product Ends Here */
    /* Part3 MediaQuery For Products Starts Here*/
    .container3 {
        height: 500vh;
        font-style: serif;
        text-align: center;
    }
    .heading {
        font-size: 30px;
        font-weight: 100;
    }
    .beforeproduct .subheading {
        font-size: 20px;
        font-weight: -1000rem;
        text-align: center;
    }
    .card1,
    .card2,
    .card3 {
        margin-left: 20px;
        /* margin-right: 20rem; */
        margin-top: 30px;
        float: left;
        width: 100%;
        /* border-radius: 10px; */
    }
    .images3 {
        height: 300px;
        width: 300px;
        border-radius: 2px;
        margin-right: 3rem;
    }
    .btns {
        margin-top: 1rem;
        margin-right: 8.8rem;
        text-align: center;
        border-color: grey;
        opacity: 1;
        justify-content: center;
        padding: 0.5rem;
        -ms-transform: translateX(60%);
        transform: translateX(40%);
        /* border-radius: 20px; */
    }
    .btns:hover {
        background-color: #ddd;
        transition: 0.6s;
    }
    .paragraph {
        /* text-align: center; */
        margin-right: 5rem;
        text-align: justify;
        margin-top: 2rem
    }
    .caption {
        margin-left: 1rem;
    }
    /* Part3 MediaQuery for Product Ends Here */
    /* Part4 Media Query For Contactus Starts Here */
    .container4 {
        /* text-align: center; */
        width: 100%;
        height: 300vh;
        background-color: #bbb;
    }
    .container4 .leftmost {
        float: left;
        width: 90%;
        margin-top: 30px;
        background-color: black;
        margin-left: 2rem;
        margin-right: 2rem;
        height: 100vh;
        height: 100vh;
        /* height: 92vh */
    }
    .container4 .rightmost {
        width: 90%;
        margin-top: 30px;
        margin-left: 2rem;
        background-color: black;
        margin-right: 2rem;
        height: 100vh;
        /* text-align: left; */
    }
    .contactform {
        color: #eee;
        /* text-align: left;*/
        /* float: left; */
        /* margin-left: 10rem; */
        /* margin-right:13rem; */
        /* position: relative; */
        text-align: center;
    }
    .inputs {
        margin-top: 30px;
    }
    .inputs label input {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
    }
    .messages textarea {
        /* width: 75%; */
        float: left;
    }
    /* textarea .messages{
background-color: red;
width: 300px;
} */
    #my-form-button {
        /* height: 3rem; */
        /* width: 8rem; */
        text-align: center;
    }
    /* Parrt4 MediaQuery For Contactus Ends Here */
    /* Media Query For Footer Starts Here */
    .container2 {
        width: 100%;
        height: 120vh;
        /* position:fixed; */
    }
    .container2 .left1 {
        width: 100%;
        margin-top: 6rem;
    }
    .container2 .left25 {
        width: 100%;
        text-align: left;
    }
    .container2 .right25 {
        width: 100%;
        margin-top: 5rem;
    }
    .container2 .right1 {
        float: left;
        width: 100%;
    }
    .texts1,
    .texts2,
    .texts {
        margin-left: 3rem;
    }
    /* First Right */
    .logos {
        text-align: left;
        margin-left: 3rem;
    }
    /* Media Query for footer ends here */
}


/* MediaQuery For Mobile */

@media (max-width:860px) {
    label #navbutton {
        display: block;
        margin-left: 34rem;
        float: right;
    }
    ul {
        position: fixed;
        /* width: 80%;
    height: 60vh;
    background: #0001; */
        width: 70%;
        height: 60vh;
        /* background: #0001; */
        background-color: #0008;
        top: 90px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul .navlinking {
        display: block;
        margin: 50px 0;
        line-height: 8px;
    }
    nav ul .navlinking a {
        font-size: 20px;
    }
    #check:checked~ul {
        left: 0;
    }
    #check:checked~label #navbutton {
        display: none;
    }
    #check:checked~label #cancel {
        display: block;
    }
    /* Media Query For Navbar Ends Here */
    /* Part1 Media Query Starts Here */
    .bg-img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* Needed to position the navbar */
        position: relative;
        /* height: 92vh; */
    }
    .container {
      text-align: center;

    }
    .headline {
        text-align: center;
          font-size: 35px;
          color: white;
          font-weight: bolder;
          margin-left: 0rem;
    }
    .subheadline {
        display: none;
    }
    .btn,
    .btn-1 {
        /* padding-left: 10px; */
        /* padding-right: 0px; */
        font-size: 10px;
        margin-top: 30px;
        padding: 8px;
    }
    .scrolling-active .nav ul {
        top: 70px;
        /* background-color: #0007; */
    }
    /*part1 Ends Here */
    /* Part2 Media Query Starts Here */
    #container1 {
        width: 100%;
        margin: auto;
        height: auto;
        overflow: auto;
        text-align: center;
        height: 290vh;
        /* background-color: grey; */
        background-color: rgba(0, 0, 0, 0.6);
        color: #fff;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
    #container1 .lefts {
        text-align: center;
        width: 100%;
    }
    #container1 .rights {
        text-align: left;
        width: 100%;
        margin-top: 90px;
    }
    .lines1 {
        background-color: red;
        height: 4px;
        width: 30px;
        /* opacity: 0; */
        margin-left: 2rem;
    }
    .headers {
        padding-top: 2rem;
        padding-left: 1.5rem;
        padding-bottom: 3rem;
        text-align: left;
    }
    .master,
    .masterinner {
        font-size: 15px;
        text-align: left;
        font-weight: 700;
        padding-bottom: 0.4rem;
    }
    h3 {
        font-size: 12px;
        font-weight: 700;
        padding-bottom: 2.5rem;
    }
    .masterinner1,
    .masterinner2,
    .masterinner3,
    .masterinner4 {
        text-align: left;
        font-weight: 400;
        font-size: 14px;
        padding-bottom: 2rem;
        padding-right: 0px;
        justify-content: center;
        margin-left: 3px;
        margin-right: 0px;
    }
    .rowbtn {
        text-align: center;
    }
    .btn-2,
    .btn-3 {
        color: red;
        text-align: center;
        margin-right: 3rem;
    }
    .btn2,
    .btn3 {
        color: white;
    }
    a {
        text-decoration: none;
    }
    .image1 {
        padding-bottom: 10px;
        height: 80%;
        width: 70%;
        text-align: center;
        float: left;
        padding-left: 49px;
    }
    .row {
        display: inline-block;
        /* flex-direction: row; */
        margin-left: 0rem;
        float: left;
        height: 130vh;
    }
    .col1,
    .col2,
    .col3,
    .col4 {
        width: 100%;
        font-size: 30px;
        text-align: center;
        margin-left: -1rem;
        font-weight: 700;
    }
    .one,
    .two,
    .three,
    .four {
        margin-top: 2rem;
        text-align: center;
        padding-bottom: 20px;
    }
    .skill {
        text-align: center;
        margin-bottom: 3rem;
        margin-top: 2rem;
        margin-left: 2rem;
    }
    .container5 {
        width: 100%;
        margin: auto;
        height: auto;
        overflow-y: hidden;
        text-align: center;
        overflow-x: hidden;
        height: 160vh;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.8);
    }
    .arrow1 {
        margin-top: 3rem;
        font-size: 16px;
        text-align: center;
        display: block;
    }
    .arrows {
        margin-top: 2rem;
        font-size: 13px;
        margin-left: 2rem;
    }
    .one,
    .two,
    .three,
    .four {
        margin-top: 2rem;
        text-align: center;
        padding-bottom: 20px;
    }
    .container1 {
        width: 100%;
        margin: auto;
        height: auto;
        text-align: center;
        height: 220vh;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.8);
    }
    .arrow7 {
        margin-top: 1rem;
        font-size: 17px;
        text-align: center;
        font-weight: 600;
    }
    .lefts,
    .rights {
        float: left;
        width: 100%;
        margin-left: 3rem;
        margin-top: 3rem;
        height: 100%;
    }
    .info {
        margin-left: 0rem;
        text-align: left;
        display: block;
    }
    .arrows1 {
        margin-top: 3rem;
        font-size: 15px;
        text-align: left;
        /* margin-left: 5rem; */
    }




    /* Why Choose Starts Here */
    .rowin{
      height: 120vh;
      text-align: center;
      background-color:#F5F5F5;

    }
    .column1,.column2,.column3{
      width: 100%;
      float: left;
      margin-top: 0rem;

    }
    .skills{
      height:100px;
      width: 100px;
    }
    .firsts{
      font-size: 16px;
    }
    .firsts:last-child{
      padding-bottom: 2rem;
    }
    .seconds{
      margin-top: 4rem;
      font-size: 18px;
      /* margin-top: 2rem; */
      padding-top: 3rem;
    }
    /* Why Choose Ends Here */














    /* Part2 Ends Here */
    .containers {
        text-align: center;
        padding-top: 5rem;
        padding-right: 0rem;
        padding-bottom: 9rem;
        padding-left: 0px;
    }
    .images7 {
        margin-top: 4rem;
        background-size: cover;
        background-image: url('images/card4.jpg');
        padding-bottom: 60px;
        height: 50%;
    }
/* Media Query for image */
.lastpart{
  display: none;
  height: 2000vh;
  background-color:#F5F5F5;
  height: 70vh;
  background-size: cover;

}
.images8{
}
.containers9{
  margin-top: 2rem;
  background-size: cover;
  text-align: center;
}
.subheadlines{
  margin-top: 1rem;

}
.am{
  padding-top: 10rem;
  color: #fff;
}
.btns1{
  background-color: #fff;
  text-align: center;
  margin-top: 2rem;
  height: 40px;
  border-radius: white;
  margin-left: 0rem;
}
.btns1:hover{
  background-color: #9999;
  transition: .7s;

}

/* Media Query Ends Here */
    /* Part3 Products Starts Here */
    /* Part2 Ends Here */
    #container2 {
        height: 90vh;
    }
    .headings12 {
        text-align: left;
        color: white;
    }
    .arrows2 {
        margin-top: 2rem;
        font-size: 19px;
        margin-bottom: 2rem;
    }
    .containers {
        text-align: center;
        padding-top: 5rem;
        padding-right: 0rem;
        padding-bottom: 9rem;
        padding-left: 0px;
        background-size: cover;
    }
    .arrows3 {
        margin-top: 2rem;
        font-size: 20px;
        margin-left: 2rem;
    }
    .subheadliness {
        font-weight: 700;
        font-size: 20px;
        font-display: block;
        color: #ffffff!important;
        text-align: center;
        text-shadow: 0em 0.1em 0.1em rgba(0, 0, 0, 0.4);
        -webkit-animation: slidings 0.5s forwards;
        -webkit-animation-delay: 2s;
        animation: slidings 0.5s forwards;
        animation-delay: 2s;
        /* margin-top: rem; */
    }
    /* Part2 Media Query Ends Here */
    /* Part3 MediaQuery For Products Starts Here*/
    .container3 {
        height: 500vh;
        font-style: serif;
        text-align: center;
    }
    .heading {
        font-size: 20px;
        font-weight: 100;
    }
    .beforeproduct {
        /* margin-left: 3rem; */
        text-align: center;
    }
    .beforeproduct .subheading {
        font-size: 15px;
        /* font-weight: 1000rem; */
        text-align: center;
        justify-content: center;
    }
    .card1,
    .card2,
    .card3 {
        margin-left: 3rem;
        margin-right: 10px;
        margin-top: 30px;
        float: left;
        width: 80%;
        text-align: left;
        /* border-radius: 10px; */
    }
    .images3 {
        height: 200px;
        width: 200px;
        border-radius: 2px;
        margin-right: 3rem;
    }
    .btns {
        margin-top: 1rem;
        margin-right: 1.8rem;
        text-align: center;
        border-color: grey;
        opacity: 1;
        justify-content: center;
        padding: 0.4rem;
        -ms-transform: translateX(10%);
        transform: translateX(60%);
        /* border-radius: 20px; */
    }
    .btns:hover {
        background-color: rgba(0, 255, 255, 0.8);
        transition: 0.6s;
        text-align: center;
    }
    .paragraph {
        /* text-align: justify; */
        /* justify-content: center; */
        /* margin-left: 2rem; */
        /* float: left; */
        font-size: 12px;
        /* margin-right: 1rem; */
        /* margin-left: 4rem; */
        text-align: center;
        margin-top: 1rem;
    }
    /* Part3 MediaQuery for Product Ends Here */
    /* Part4 Media Query For Contactus Starts Here */
    .container4 {
        /* text-align: center; */
        width: 100%;
        height: 300vh;
        background-color: #bbb;
    }
    .container4 .leftmost {
        float: left;
        width: 80%;
        margin-top: 30px;
        background-color: black;
        margin-left: 2rem;
        margin-right: 1rem;
        /* height: 100vh; */
        /* height: 100vh; */
        height: 45vh;
    }
    .mapings {
        height: 30vh;
        width: 40vh;
    }
    .container4 .rightmost {
        width: 80%;
        margin-top: 30px;
        background-color: black;
        margin-right: 1rem;
        height: 100vh;
        text-align: left;
        margin-left: 2rem;
        /* text-align: left; */
    }
    .contactform {
        color: #eee;
        /* text-align: left;*/
        float: left;
        margin-left: 2.5rem;
        /* margin-right:13rem; */
        /* position: relative; */
        text-align: center;
        width: 50%;
    }
    .inputs {
        margin-top: 30px;
    }
    /* .inputs label input { */
    /* width: 100px; */
    /* padding: 10px; */
    /* margin-bottom: 20px; */
    /* margin-right: 2rem; */
    /* text-align: left; */
    /* float: left; */
    /* }/ */
    .headings {
        font-size: 20px;
    }
    .messages textarea {
        width: 100%;
        float: left;
    }
    /* textarea .messages{
background-color: red;
width: 300px;
} */
    #my-form-status {
        margin-top: 13px;
        font-size: 1rem;
        color: white;
        /* text-align: center; */
    }
    /* Parrt4 MediaQuery For Contactus Ends Here */
    /* Media Query For Footer Starts Here */
    .container2 {
        width: 100%;
        height: 120vh;
        /* position:fixed; */
    }
    .container2 .left1 {
        width: 100%;
        margin-top: 6rem;
    }
    .container2 .left25 {
        width: 100%;
        text-align: left;
    }
    .container2 .right25 {
        width: 100%;
        margin-top: 5rem;
    }
    .container2 .right1 {
        float: left;
        width: 100%;
    }
    .texts1,
    .texts2,
    .texts {
        margin-left: 3rem;
    }
    /* First Right */
    .logos {
        text-align: left;
        margin-left: 3rem;
    }
    .images2 {
        width: 32px;
        height: 32px;
        margin-right: 3px;
    }
    /* Media Query for footer ends here */
/* Ending Page media query */
    .End {
        background-color: black;
        /* padding: 28px; */
        height: 13vh;
        font-size: 11.5px;
    }

      .left,.right{
        margin-top: 1rem;
        text-align: center;
        /* float: left; */
        width: 100%;

      }
      .right{
        text-align:center;
      }
      .ending{
        margin-left: 0rem;
      }
      .ending1 {
        /* margin-left: 36rem; */
        margin-left: 2rem;

        margin-bottom:12px;
        text-align: right;
        justify-content: space-between;
        margin-right: 0rem;
        color: #fff;

      }
      /* Ends here */
}


/* Media Query For Navbar Ends Here */
