* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
}
body {
    background-color: #fff;
    font-family: "Open San", Arial, sans-serif;
    font-size: 14px;
    font-weight: 200;
    /* color: #666; */
    overflow-x: hidden;

}
#logo{
  margin-top: 5px;
  width: 150px;
}
.feedback {
  background-color:black;
  border-radius: 40px;
  padding: 10px 30px;
  color: white;
}
#mybutton {
  position: fixed;
  /* bottom: 4px; */
  top: 35rem;
  right: 10px;
  color: white;
}
/* Navbar */
nav{
   height: 90px;
   background:#0007;
   position: fixed;
   /* float: right; */
   width: 100%;
  }
.nav img{
  width: 150px;
  position: absolute;
  top:2px;
  height: 70px;
  left: 12%;

}
.nav-links{
  float: right;
  margin-right: 50px;

}
nav ul .navlinking{
  display: inline-block;
  /* line-height: 50px; */
  margin-right:2rem;
  margin-top:2rem;
  text-align: center;
}

nav ul li a{
  position: relative;
  font-size: 13px;
  color: white;
  font-weight: 400;
  /* padding: 5px 0; */
  text-transform: uppercase;

}
nav ul li a:before{
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s linear;
}

nav ul li a:hover:before{
  transform: scaleX(1);
  transform-origin: left;

}
label #navbutton,
label #cancel{
  color: white;
  font-size: 30px;
  float:right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

#active {
    color: red;
}
ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    left: 0;
    margin-left: 61.8rem;
    list-style: none;
    margin-top: 0.1rem;;
    background-color: #0007;
    width: 350px;
    height: 44vh;

    /* list-style-type: none; */

}

ul li:hover>ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
    margin-bottom: 2rem;
}

ul li ul li:hover {
    background-color: #fff8;
}

.hellos {
    float: left;
    width: 40%;
    margin-left: 18px;
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align: left;
}

.hello {
    width: 50%;
    float: left;
    margin-top: 2rem;
    margin-left:  0.65rem;
    color: red;
    text-align: left;

}

.drophover {
  background-color: #fff0;
  font-size: 13px;

}
.drophover:hover{
  background-color: none;
}

ul li ul li .dropdown:hover{
  background-color: none;
  /* font-size: 10px; */

}

/* Navbar */

/* Navbar */

/* Part1 Starts Here */
.bg-img {
    /* background-image: url("images/firstcover.jpg"); */
    /* background-image:url(https://nikiglasstudio.com/wp-content/uploads/2018/11/About-Us-Header-1.jpg)!important; */
    /* background-image: url('https://nikiglasstudio.com/wp-content/uploads/2018/11/products-header-2.jpg')!important; */
    background-image: url(https://nikiglasstudio.com/wp-content/uploads/2019/02/Archetictural-clear-glass.jpg)!important;

    background-color: rgba(0,0,0,0.6);
    min-height: 100px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Needed to position the navbar */
    position: relative;
    height: 46vh;
}



.container {
    /* text-align: center; */
    padding-top: 9rem;
    padding-right: 0rem;
    padding-bottom: 9rem;
    padding-left: 5rem;
}

.headline {
  font-weight: 400;
  font-size: 60px;
  font-display: block;
  color: #ffffff!important;
  text-align: left;
  text-shadow: 0em 0.1em 0.1em rgba(0, 0, 0, 0.4);
  -webkit-animation: slidings 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slidings 0.5s forwards;
  animation-delay: 2s;
  margin-left: 3rem;
}


@-webkit-keyframes slidings {
    100% { left: 0; }
}

@keyframes slidings {
    100% { left: 0; }
}


/*Part1 Ends Here*/



.scrolling-active {
    background-color: #0007;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
}

.scrolling-active .nav {
    height: 70px;
    background-color: #0007;
}

.scrolling-active .nav a {
    color:white;
}

.scrolling-active .nav #logo {
  margin-top: 0.4rem;
    height:55px;
    width: 120px;
}

.scrolling-active .nav-link::after {
    background-color: #313131;
}






/* Part2 Starts Here */


.container1{
  width: 100%;
  height: 40vh;
}
.col1,.col2,.col3{
  float: left;
  width: 30%;
}
.logos1 {
    text-align: left;
    margin-left: 1rem;
    margin-top: 2rem;
}
/* Part3 Products Starts Here */
.container3{
  height: 40vh;
      background-color:#F5F5F5;

}
.col1,.col2,.col3{
  float: left;
  width: 25%;
  margin-top: 2rem;
  margin-left: 3rem;
}
.span{
  margin-left: 3rem;
  color: black;
  font-size: 30px;
  text-align: left;
}

.col1 .text{
  /* color: black; */
  text-align: left;
  margin-top: 1.2rem;
  margin-left: 0rem;

}
.texting{
  text-align: left;
  color: black;
  margin-bottom: 1rem;
  margin-left: 3rem;
}
.texting a{
  text-decoration-style: none;
  color: black;
  font-size: 15px;
}
/* Part4 COntact and Map Starts Here */

.container4 {
    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: url('images/slide2.jpg');
    background-size:cover;
    overflow: hidden;

}

.container4 .leftmost {
    float: left;
    width: 40%;
    margin-top: 30px;
    background-color: #0008;
    margin-left: 3rem;
    height: 92vh;
    overflow: hidden;


}

.container4 .rightmost {
    float: left;
    width: 50%;
    margin-top: 30px;
    margin-left: 1rem;
    background-color: #0008;
    margin-right: 3rem;
    height: 92vh;
    overflow: hidden;

}

.headings{
  margin-top: 1rem;
  margin-bottom: -1.4rem;
  color: #fff;
  text-overflow: inherit;
  text-align: center;
  text-transform: uppercase;
}
.contactform {
    color: #000;
    text-align: left;
    margin-left: 8rem;
    margin-right: 8rem;
}

.messages textarea{

    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #c5ecfd;
    padding: 10px;
    color: #c5ecfd;
    width: 100%;
}
textarea{
  width: 100%;
}
.inputs {
    margin-top: 30px;
}

.inputs label input {
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #c5ecfd;
    padding: 10px;
    color: #c5ecfd;
    width: 100%;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #c5ecfd;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #c5ecfd;
}
:-ms-input-placeholder {
  color: #c5ecfd;
}

#my-form-button{
    background: #39b7dd;
   text-align: center;
   padding: 15px;
   border-radius: 5px;
   color: #fff;
   cursor: pointer;
   text-transform: uppercase;
   width: 106%;
   margin-top: 2rem;
}
#my-form-status{
  margin-top:13px;
  font-size: 1.5rem;
  color:white;
  text-align: center;
}
/* Part4 ENds Here */


/* Footer Starts Here */

.container2 {
    width: 100%;
    margin: auto;
    height: auto;
    /* background: grey; */
    background-color:rgba(0, 0, 0, 0.9);

    overflow: hidden;
    text-align: center;
    height: 50vh;
    color: #eee;
    font-weight: 240;
    /* font-family: Oswald Helved; */
    /* overflow: hidden; */
}

.container2 .left1 {
    float: left;
    width: 30%;
    margin-top: 60px;
}

.container2 .left25 {
    float: left;
    width: 25%;
    margin-top: 60px;
}

.container2 .right25 {
    float: left;
    width: 20%;
    margin-top: 60px;
}

.container2 .right1 {
    float: left;
    width: 25%;
    margin-top: 60px;
}


/* For first lefy  and Second left*/

.texts p a,
.texts1 p a {
    color: #eee;
    font-family: serif;
    font-weight: 20;
}

.texts {
    text-align: left;
    margin-left: 10rem;
    margin-top: -0.6rem;
}


/* margin-bottom: 30px; */

.texts p,
.texts1 p,
.texts2 p {
    margin-bottom: 18px;
    font-family: serif;
    font-weight: 20;
}


/* For Second Left */

.texts1 {
    text-align: left;
    margin-left: 3rem;
    margin-top: -1rem;
}


/* For Second Right */

.texts2 {
    text-align: left;
    margin-top: -1rem;
}


/* First Right */

.logos {
    margin-right: 3rem;
    margin-top: 0.5rem;
    radius: 20px;
    /* border-radius: 50%; */
}

.images2 {
    border-radius: 50%;
}


/* Last Footer */


/* Last Footer */

.End {
    background-color: black;
    /* padding: 28px; */
    height: 8vh;
}

  .left,.right{
    margin-top: 1.2rem;
    /* text-align: center; */
    float: left;
    width: 50%;
  }
  .right{
    text-align: right;
  }
  .ending{
    margin-left: 2rem;
  }
  .ending1 {
    /* margin-left: 36rem; */
    margin-bottom:10px;
    text-align: right;
    justify-content: space-between;
    margin-right: 10rem;
    color: #fff;

  }

  /* Ends here */



/* MediaQuery For Navbar */

@media (max-width:1118px) {
  nav img{
    left:8%;
  }
}
@media (max-width:944px) {
  nav img{
    left: 6%;
    top:20px;
    width: 130px;
  }
  nav ul .navlinking a{
    font-size: 17px;
  }

/* Media Query FOr Navnar Ends Here */

/* Media Query FOr Part1 Starts here */
  .bg-img {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      /* Needed to position the navbar */
      position: relative;
      /* height: 92vh; */
  }
  .container {
      text-align: center;
      padding-top: 8rem;
      padding-right: 5rem;
      padding-bottom: 6rem;
      padding-left: 0px;
  }
  .headline {
      font-size: 45px;
      color: white;
      text-align: center;
      font-weight: bolder;
      text-align: center;
  }

  h2 {
      font-size: 20px;
      text-align: center;
  }

  /* Part1 Ends Here */



  .container1{
    width: 100%;
    height: 40vh;
  }
  .col1,.col2,.col3{
    float: left;
    width: 30%;
  }
  .logos1 {
      text-align: left;
      margin-left: 1rem;
      margin-top: 2rem;
  }
  /* Part3 Products Starts Here */
  .container3{
    height: 40vh;
        background-color:#F5F5F5;

  }
  .col1,.col2,.col3{
    float: left;
    width: 25%;
    margin-top: 2rem;
    margin-left: 3rem;
  }
  .col3{
    width: 30%;
  }
  .span{
    margin-left: 3rem;
    color: black;
    font-size: 20px;
    text-align: left;
  }

  .col1 .text{
    /* color: black; */
    text-align: left;
    margin-top: 1.2rem;
    margin-left: 0rem;

  }
  .texting{
    text-align: left;
    color: black;
    margin-bottom: 1rem;
    margin-left: 3rem;
  }
  .texting a{
    text-decoration-style: none;
    color: black;
    font-size: 15px;
  }
  .logos1{

  }

  /* Part4 Media Query For Contactus Starts Here */
  .container4 {
      /* text-align: center; */
      width: 100%;
      height: 300vh;
      background-color: #bbb;
  }
  .container4 .leftmost {
      float: left;
      width: 90%;
      margin-top: 30px;
      background-color: black;
      margin-left: 2rem;
      margin-right: 2rem;
      height: 100vh;
      height: 100vh;
      /* height: 92vh */
  }
  .container4 .rightmost {
      width: 90%;
      margin-top: 30px;
      margin-left: 2rem;
      background-color: black;
      margin-right: 2rem;
      height: 100vh;
      /* text-align: left; */
  }
  .contactform {
      color: #eee;
      /* text-align: left;*/
      /* float: left; */
      /* margin-left: 10rem; */
      /* margin-right:13rem; */
      /* position: relative; */
      text-align: center;
  }
  .inputs {
      margin-top: 30px;
  }
  .inputs label input {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
  }
  .messages textarea{
    /* width: 75%; */
    float: left;

  }

  /* textarea .messages{
background-color: red;
width: 300px;
} */
  #my-form-button{
      /* height: 3rem; */
      /* width: 8rem; */
      text-align: center;
  }

  /* Parrt4 MediaQuery For Contactus Ends Here */
  /* Media Query For Footer Starts Here */
  .container2 {
      width: 100%;
      height: 120vh;
      /* position:fixed; */
  }
  .container2 .left1 {
      width: 100%;
      margin-top: 6rem;
  }
  .container2 .left25 {
      width: 100%;
      text-align: left;
  }
  .container2 .right25 {
      width: 100%;
      margin-top: 5rem;
  }
  .container2 .right1 {
      float: left;
      width: 100%;
  }
  .texts1,
  .texts2,
  .texts {
      margin-left: 3rem;
  }
  /* First Right */
  .logos {
      text-align: left;
      margin-left: 3rem;
  }
  /* Media Query for footer ends here */




}


















/* MediaQuery For Mobile */
@media (max-width:860px) {
  label #navbutton{
    display: block;
    margin-left: 34rem;
    float: right;
  }
  nav{
  }
  ul{
    position: fixed;
    width: 70%;
    height: 60vh;
    /* background: #0001; */
    background-color: #0008;
    top:90px;
    left: -100%;
    text-align: center;
    transition:all .5s;

  }

    .scrolling-active .nav ul{
        /* height0px; */
        top:70px;
      }
  nav ul .navlinking{
    display: block;
    margin: 50px 0;
    line-height:8px;
  }

  nav ul .navlinking a{
    font-size: 20px;
  }
  #check:checked ~ ul{
    left: 0;
  }
  #check:checked ~ label #navbutton{
    display: none;
  }
  #check:checked ~ label #cancel{
    display:block;
  }
/* Media Query For Navbar Ends Here */
#logo{
  margin-top: 5px;
  width: 130px;
}
  /* Part1 Media Query Starts Here */
  .bg-img {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      /* Needed to position the navbar */
      position: relative;
      /* height: 92vh; */
  }
  .container {

  }
  .headline {

        text-align: center;
          font-size: 28px;
          color: white;
          font-weight: bolder;
          margin-left: 0rem;
  }

  h2 {
      font-size: 15px;
      text-align: center;
  }

  /* Part3 Products Starts Here */
  .container3{
    height: 90vh;
        background-color:#F5F5F5;

  }
  .col1,.col2,.col3{
    float: left;
    width: 100%;
    margin-top: 2rem;
    margin-left: 1rem;
  }
  .span{
    margin-left: 1rem;
    color: black;
    font-size: 20px;
    text-align: left;
  }

  .col1 .text{
    /* color: black; */
    text-align: left;
    margin-top: 1.2rem;
    margin-left: 0rem;

  }
  .texting{
    text-align: left;
    color: black;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
  .texting a{
    text-decoration-style: none;
    color: black;
    font-size: 14px;
  }
  /* Part4 COntact and Map Starts Here */
  /* Part4 Media Query For Contactus Starts Here */
  .container4 {
      /* text-align: center; */
      width: 100%;
      height: 300vh;
      background-color: #bbb;
  }
  .container4 .leftmost {
      float: left;
      width: 80%;
      margin-top: 30px;
      background-color: black;
      margin-left: 2rem;
      margin-right: 1rem;
      /* height: 100vh; */
      /* height: 100vh; */
      height: 45vh;
  }
   .mapings{
    height: 30vh;
    width: 40vh;
  }
  .container4 .rightmost {
      width: 80%;
      margin-top: 30px;
      background-color: black;
      margin-right: 1rem;
      height: 100vh;
      text-align: left;
      margin-left: 2rem;
      /* text-align: left; */
  }
  .contactform {
      color: #eee;
      /* text-align: left;*/
      float: left;
      margin-left: 2.5rem;
      /* margin-right:13rem; */
      /* position: relative; */
      text-align: center;
      width: 50%;
  }
  .inputs {
      margin-top: 30px;
  }

  .headings{
    font-size: 20px;
  }
  .messages textarea{
    width: 100%;
    float: left;
  }


  #my-form-status{
    margin-top:13px;
    font-size: 1rem;
    color:white;
    /* text-align: center; */
  }
  /* Parrt4 MediaQuery For Contactus Ends Here */
  /* Media Query For Footer Starts Here */
  .container2 {
      width: 100%;
      height: 120vh;
      /* position:fixed; */
  }
  .container2 .left1 {
      width: 100%;
      margin-top: 6rem;
  }
  .container2 .left25 {
      width: 100%;
      text-align: left;
  }
  .container2 .right25 {
      width: 100%;
      margin-top: 5rem;
  }
  .container2 .right1 {
      float: left;
      width: 100%;
  }
  .texts1,
  .texts2,
  .texts {
      margin-left: 3rem;
  }
  /* First Right */
  .logos {
      text-align: left;
      margin-left: 3rem;
  }
  .logos1 {
      text-align: left;
      margin-left: 1rem;
  }
  .images2{
    width: 32px;
    height: 32px;
      margin-right: 3px;
  }

  /* Media Query for footer ends here */
  .End {
      background-color: black;
      /* padding: 28px; */
      height: 13vh;
      font-size: 11.5px;
  }

    .left,.right{
      margin-top: 1rem;
      text-align: center;
      /* float: left; */
      width: 100%;

    }
    .right{
      text-align:center;
    }
    .ending{
      margin-left: 0rem;
    }
    .ending1 {
      /* margin-left: 36rem; */
      margin-left: 2rem;

      margin-bottom:12px;
      text-align: right;
      justify-content: space-between;
      margin-right: 0rem;
      color: #fff;

    }
    /* Ends here */


}
/* Media Query For Navbar Ends Here */
