* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
body {
    font-family: "Open San", Arial, sans-serif;
    font-size: 14px;
    /* color: ; */
}
/* Imp */
#logo{
  margin-top: 5px;
  width: 150px;
}


/* impressive */
.feedback {
  background-color:black;
  border-radius: 40px;
  padding: 10px 30px;
  color: white;
}
#mybutton {
  position: fixed;
  /* bottom: 4px; */
  top: 35rem;
  right: 10px;
  color: white;
}
/* Navbar */
nav{
   height: 90px;
   background:#0003;
   position: fixed;
   /* float: right; */
   width: 100%;
   font-weight: 200;

  }
.nav img{
  width: 150px;
  position: absolute;
  top:2px;
  height: 70px;
  left: 12%;
  font-weight: 200;

}
.nav-links{
  float: right;
  margin-right: 50px;
  font-weight: 200;

}
nav ul .navlinking{
  display: inline-block;
  /* line-height: 50px; */
  margin-right:2rem;
  margin-top:2rem;
  text-align: center;
  list-style-type: none;

  font-weight: 200;
}

nav ul li a{
  position: relative;
  font-size: 13px;
  color: white;
  font-weight: 400;
  /* padding: 5px 0; */
  text-transform: uppercase;

}
nav ul li a:before{
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s linear;

}

nav ul li a:hover:before{
  transform: scaleX(1);
  transform-origin: left;
  list-style-type: none;

}
label #navbutton,
label #cancel{
  color: white;
  font-size: 30px;
  float:right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

#active {
    color: red;
}

ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    left: 0;
    margin-left: 61.8rem;
    list-style: none;
    margin-top: 0.1rem;;
    background-color: #0007;
    width: 350px;
    height: 44vh;

    /* list-style-type: none; */

}

ul li:hover>ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
    margin-bottom: 2rem;
}

ul li ul li:hover {
    background-color: #fff8;
}

.hellos {
    float: left;
    width: 40%;
    margin-left: 18px;
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align: left;
}

.hello {
    width: 50%;
    float: left;
    margin-top: 2rem;
    margin-left:  0.65rem;
    color: red;
    text-align: left;

}

.drophover {
  background-color: #fff0;
  font-size: 13px;

}
.drophover:hover{
  background-color: none;
}

ul li ul li .dropdown:hover{
  background-color: none;
  /* font-size: 10px; */

}

/* Navbar */



/* Part1 Starts Here */
.bg-img {
    background-image: url("images/firstcover.jpg");
    min-height: 380px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Needed to position the navbar */
    position: relative;
    height: 96vh;
}



.container {
    text-align: center;
    padding-top: 13rem;
    padding-right: 0rem;
    padding-bottom: 9rem;
    padding-left: 0px;
}

.headline {
    font-weight: 700;
    font-size: 80px;
    font-display: block;
    color: #ffffff!important;
    text-align: center;
    text-shadow: 0em 0.1em 0.1em rgba(0, 0, 0, 0.4)
}

/* h2 {
    font-size: 26px;
    color: #ffffff!important;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 0em 0.1em 0.1em #9b9b9b;
} */

.btn {
    position: relative;
    padding: .3em 1em;
    border: 2px solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7em!important;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

.btn-1 {
    color: #FFFFFF!important;
    border-width: 0px!important;
    background-color: #ED2224;
    transition: all 300ms ease 0ms;
    display: inline-block;
    margin-top: 14px;
    padding: 14px;
}

.btn-1:hover {
    background-color: red;
    transition: 0.9s;
}


/*Part1 Ends Here*/


/* Slide Show Starts Here*/

slider{
  display: block;
  width: 100%;
  height: 96vh;
  background-color: #1f2f3f;
  overflow: hidden;
  position: absolute;
  font-weight: 100;

}

slider > *{
  position: absolute;
  display: block;
  width: 100%;
  height: 100vh;
  background-color: #1f2f3f;
  overflow: hidden;
  animation: slide 12s infinite;
  font-weight: 100;

}

slide:nth-child(1){
  left: 0%;
  animation-delay: -1s;
  background-image: url('Digital Printing/products/back painted.PNG');
  background-size: cover;
  background-position: center;
}
slide:nth-child(2){
  animation-delay: 2s;
  /* background-image: url('Digital Printing/products/back painted.PNG'); */
  background-image: url('Digital Printing/main/z3.PNG');
  background-size: cover;
  /* background-image: url('Digital Printing/main/digital printing.PNG'); */
  background-position: center;
  left: 1001

}
slide:nth-child(3){
  animation-delay: 5s;
  /* background-image: url('images/slide2.jpg'); */
  background-image: url('Digital Printing/main/z14.PNG');
  /* background-image: url('Digital Printing1roducts/digital printing 2.PNG'); */
  background-size: cover;
  background-position: center;
  left: 100%;

}
slide:nth-child(4){
  left: 100%;
  animation-delay: 8s;
  background-image:url('Digital Printing/products/digital printing1.PNG');
  /* background-image: url('Digital Printing/main/z2.PNG'); */


  background-size: cover;
  background-position: center;
}

slide .p {
  font-family: sans-serif;
  font-size: 50px;
  text-align: left;
  display: inline-block;
  width: 100%;
  margin-top: 15rem;
  margin-left: 10rem;
  color:#fff;
  /* font-weight: 3002px; */
  text-transform: uppercase;
}

slide .p span {
    /* color:red; */
    font-size: 20px;
    text-align: center;
    margin-top: 10rem;
    color: #fff;
    text-transform: uppercase;
}
.buttons {
  margin-top: 2rem;
  border-radius: 10px;
  padding: 10px;
  background-color:rgba(255,255,255,0.1);


}
.buttons a{
    text-align: center;
    color: #eee8;
    font-weight: 900;
    text-transform: uppercase;
}
a{
  text-decoration: none;

}
/* Slides Animation Completes Here */



/* Image and Description Starts Here */

.containers1{
  width: 100%;
  height: 120vh;
  overflow:hidden;
}

.containers1 .leftimage{
  width: 45%;
  float: left;
  margin-left: 3rem;
  margin-top: 4rem;
}
.imageleft{
  width:30%;
  float: left;
}
.imageright{
  width:30%;
  float: left;
  height:100px;
  margin-left:2rem;
}
.images{
  width: 150px;
  height: 150px;
  margin-top: 2rem;
  margin-left: 2rem;
}
.containers1 .rightdescription{
  float: left;
  width: 45%;
  margin-left: 3rem;
  color:black;
  margin-top: 2rem;
  /* background-color: #000; */
}

/* For Hover effect */
/* .row > .column {
  padding: 0 8px;

} */
.left,.right{
  width:40%;
  float:left;
  margin-top:40px;
background-color:red;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}



/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 80vh;
  overflow: auto;
  /* background-color: black; */
  background-color: #0008;
  /* transform:transparent; */
}
/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 80%;
  max-width: 900px;
}
.image{
  height: 70vh;
}
/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}






/* End of Hover effect */





















.rightdescriptions{
  color:#0007;
  text-shadow: 0rem 0.1rem 0.1rem #9b9b9b;
}
.rightdescriptionheader{
  text-align: left;
  color:black;
  color:black;

}

.contents {
padding-left: 40px;
padding-top: 10px;
padding-bottom: 10px;
color:#000;
font-weight: 300;
}

.button {
  margin-top: 2rem;
  border-radius: 10px;
  padding: 10px;
  background-color:rgb(0,0,0);


}
.button a{
    text-align: center;
    color: #eee8;
    font-weight: 900;
    text-transform: uppercase;
}
a{
  text-decoration: none;

}

/* Image and Description Ends here */



/* Part2 Ends Here */







/* Footer Starts Here */

.container2 {
    width: 100%;
    margin: auto;
    height: auto;
    /* background: grey; */
    background-color:rgba(0, 0, 0, 0.9);

    overflow: hidden;
    text-align: center;
    height: 50vh;
    color: #eee;
    font-weight: 240;
    /* font-family: Oswald Helved; */
    /* overflow: hidden; */
}

.container2 .left1 {
    float: left;
    width: 30%;
    margin-top: 60px;
}

.container2 .left25 {
    float: left;
    width: 25%;
    margin-top: 60px;
}

.container2 .right25 {
    float: left;
    width: 20%;
    margin-top: 60px;
}

.container2 .right1 {
    float: left;
    width: 25%;
    margin-top: 60px;
}


/* For first lefy  and Second left*/

.texts p a,
.texts1 p a {
    color: #eee;
    font-family: serif;
    font-weight: 20;
}

.texts {
    text-align: left;
    margin-left: 10rem;
    margin-top: -0.6rem;
}

/*Part1 Ends Here*/

.scrolling-active {
    background-color: #fff;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
}

.scrolling-active .nav {
    height: 70px;
}

.scrolling-active .nav a {
    color: white;
}

.scrolling-active .nav #logo {
  margin-top: 0.4rem;
 height:55px;
 width: 120px;
}

.scrolling-active .nav-link::after {
    background-color: #313131;
}


/* margin-bottom: 30px; */

.texts p,
.texts1 p,
.texts2 p {
    margin-bottom: 18px;
    font-family: serif;
    font-weight: 20;
}


/* For Second Left */

.texts1 {
    text-align: left;
    margin-left: 3rem;
    margin-top: -1rem;
}


/* For Second Right */

.texts2 {
    text-align: left;
    margin-top: -1rem;
}


/* First Right */

.logos {
    margin-right: 3rem;
    margin-top: 0.5rem;
    radius: 20px;
    /* border-radius: 50%; */
}

.images2 {
    border-radius: 50%;
}


/* Last Footer */


/* Last Footer */

.End {
    background-color: black;
    /* padding: 28px; */
    height: 8vh;
}

  .lefts,.rights{
    margin-top: 1.2rem;
    /* text-align: center; */
    float: left;
    width: 50%;
  }
  .rights{
    text-align: right;
  }
  .ending{
    margin-left: 2rem;
  }
  .ending1 {
    /* margin-left: 36rem; */
    margin-bottom:10px;
    text-align: right;
    justify-content: space-between;
    margin-right: 10rem;
    color: #fff;

  }

  /* Ends here */





/* MediaQuery For Navbar */

@media (max-width:1118px) {
  nav img{
    left:8%;
  }
}
@media (max-width:944px) {
  nav img{
    left: 6%;
    top:20px;
    width: 130px;
  }
  nav ul .navlinking a{
    font-size: 17px;
  }

/* Media Query FOr Navnar Ends Here */

/* Media Query FOr Part1 Starts here */
  .bg-img {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      /* Needed to position the navbar */
      position: relative;
      /* height: 92vh; */
  }
  .container {
      text-align: center;
      padding-top: 10rem;
      padding-right: 0rem;
      padding-bottom: 6rem;
      padding-left: 0px;
  }
  .headline {
      font-size: 45px;
      color: white;
      font-weight: bolder;
      text-align: center;
  }
  .subheadline {
      display: none;
  }
  h2 {
      font-size: 20px;
      text-align: center;
  }

  .btn,
  .btn-1 {
      /* padding-left: 10px; */
      /* padding-right: 0px; */
      font-size: 11px;
      margin-top: 20px;
      padding: 10px;
  }
  /* Part1 Ends Here */


  /* Slide Show Starts Here*/

  slider{
    display: block;
    width: 100%;
    height: 96vh;
    background-color: #1f2f3f;
    overflow: hidden;
    position: absolute;
    font-weight: 100;

  }

  slider > *{
    position: absolute;
    display: block;
    width: 100%;
    height: 100vh;
    background-color: #1f2f3f;
    overflow: hidden;
    animation: slide 12s infinite;
    font-weight: 100;

  }

  slide:nth-child(1){
    left: 0%;
    animation-delay: -1s;
    background-size: cover;
    background-position: center;
  }
  slide:nth-child(2){
    animation-delay: 2s;
    background-size: cover;
    background-position: center;
    left: 100%;

  }
  slide:nth-child(3){
    animation-delay: 5s;
    background-size: cover;
    background-position: center;
    left: 100%;

  }
  slide:nth-child(4){
    left: 100%;
    animation-delay: 8s;
    background-size: cover;
    background-position: center;
  }

  slide .p {
    font-family: sans-serif;
    font-size: 30px;
    text-align: left;
    display: inline-block;
    width: 100%;
    margin-top: 20rem;
    margin-left: 3rem;
    color:#fff;
    /* font-weight: 10px; */
  }

  slide .p span {
    /* color:red; */
    font-size:20px;
    text-align: center;
    font-weight: 100;
    margin-top: 10rem;
  /* font-style */
  }
  .buttons {
    margin-top: 3rem;
    border-radius: 20px;
    padding: 10px;
    background-color:#eee8;

  }
  .buttons a{
      text-align: center;
      color: red;
  }
  a{
    text-decoration: none;

  }
  /* Slides Animation Completes Here */



  /* Image and Description MediaQuery Starts Here */

  .containers1{
    width: 100%;
    height: 180vh;
    overflow:hidden;
  }
  .containers1 .leftimage{
    float: left;
    margin-left: 2.2rem;
    margin-top: 1rem;
    height: 50vh;
    width: 100%;
    display:flex;
  }
  .imageleft{


  }
  .imageright{

    height:100px;
  }
  .images{
    width: 100px;
    height: 90px;
  }

  .containers1 .rightdescription{
    width: 100%;
    margin-left: 3rem;
    margin-top: 2rem;
  }
  .rightdescriptions{
    color:red;
    text-shadow: 0rem 0.1rem 0.1rem #9b9b9b;
  }
  .rightdescription .rightdescriptionheader{
    text-align: left;
  }

  .rightdescription ul {
  padding-left: 9990px;
  padding-top: 10px;
  padding-bottom: 10px;
  }

  /* Image and Description MediaQuery Ends here */






  /* Media Query For Footer Starts Here */
  .container2 {
      width: 100%;
      height: 120vh;
      /* position:fixed; */
  }
  .container2 .left1 {
      width: 100%;
      margin-top: 6rem;
  }
  .container2 .left25 {
      width: 100%;
      text-align: left;
  }
  .container2 .right25 {
      width: 100%;
      margin-top: 5rem;
  }
  .container2 .right1 {
      float: left;
      width: 100%;
  }
  .texts1,
  .texts2,
  .texts {
      margin-left: 3rem;
  }
  /* First Right */
  .logos {
      text-align: left;
      margin-left: 3rem;
  }
  /* Media Query for footer ends here */




}


















/* MediaQuery For Mobile */
@media (max-width:860px) {
  label #navbutton{
    display: block;
    margin-left: 34rem;
    float: right;
  }
  ul{
    position: fixed;
    /* width: 80%;
    height: 60vh;
    background: #0001; */
    width: 70%;
    height: 60vh;
    /* background: #0001; */
    background-color: #0008;
    /* top:90.5px; */
    top: 90px;

    left: -100%;
    text-align: center;
    transition:all .5s;
  }

    .scrolling-active .nav ul{
        /* height0px; */
        top:70px;
      }
  nav ul .navlinking{
    display: block;
    margin: 50px 0;
    line-height:8px;
  }

  nav ul .navlinking a{
    font-size: 20px;
  }
  #check:checked ~ ul{
    left: 0;
  }
  #check:checked ~ label #navbutton{
    display: none;
  }
  #check:checked ~ label #cancel{
    display:block;
  }
/* Media Query For Navbar Ends Here */
#logo{
margin-top: 5px;
width: 130px;
}
  /* Part1 Media Query Starts Here */
  .bg-img {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      /* Needed to position the navbar */
      position: relative;
      /* height: 92vh; */
  }
  .container {
      text-align: center;
      padding-top:14rem;
      padding-right: 0rem;
      padding-bottom: 3rem;
      padding-left: 0px;
  }  slide .p {
        font-family: sans-serif;
        font-size: 30px;
        text-align: left;
        display: inline-block;
        width: 100%;
        margin-top: 20rem;
        margin-left: 3rem;
        color: #fff;
        font-size: 26px;
        font-weight: 500;
    }
    slide .p span {
        /* color:red; */
        font-size: 20px;
        text-align: center;
        font-weight: 100;
        margin-top: 10rem;
        /* font-style */
    }
  .headline {
      font-size: 35px;
      color: white;
      font-weight: bolder;
      text-align: center;
  }
  .subheadline {
      display: none;
  }
  /* h2 {
      font-size: 15px;
      text-align: center;
  } */
  .btn,
  .btn-1 {
      /* padding-left: 10px; */
      /* padding-right: 0px; */
      font-size: 10px;
      margin-top: 30px;
      padding: 8px;
  }
  /* Part1 Ends Here */


  /* Image and Description MediaQuery Starts Here */

  .containers1{
    width: 100%;
    height: 220vh;
    overflow:hidden;
  }
.
  .containers1 .leftimage{
    float: left;
    margin-left: 1rem;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    height: 40vh;
    flex-direction:row;
  }

  .imageleft,.imageright{
    float: left;
  }



.next,.prev{
  top:50%;
}
.image{
  height: 50vh;
}


















  .containers1 .rightdescription{
    width: 100%;
    margin-left: 1rem;
    margin-right: 3rem;
    margin-top: 2rem;
    text-align: left;
    margin-bottom: 2rem;
  }
  .rightdescriptions{
    color:#0008;
    text-shadow: 0rem 0.1rem 0.1rem #9b9b9b;
    text-align: left;
    margin-bottom: 2rem;
  }
  .rightdescription .rightdescriptionheader{
    margin-top: 2rem;
    text-align: left;
    color:black;
    margin-bottom: 1rem;
  }


  .rightdescription span{
    padding-top: 200px;
  }

  .rightdescription ul {
  padding-left:10px;
  /* padding-top: 10px; */
  /* padding-bottom: 10px;
  /* margin-left: 20px; */
}

  /* Image and Description MediaQuery Ends here */

  .keypoints{
    margin-left: 20px;
    color: red;
  }






  /* Media Query For Footer Starts Here */
  .container2 {
      width: 100%;
      height: 120vh;
      /* position:fixed; */
  }
  .container2 .left1 {
      width: 100%;
      margin-top: 6rem;
  }
  .container2 .left25 {
      width: 100%;
      text-align: left;
  }
  .container2 .right25 {
      width: 100%;
      margin-top: 5rem;
  }
  .container2 .right1 {
      float: left;
      width: 100%;
  }
  .texts1,
  .texts2,
  .texts {
      margin-left: 3rem;
  }
  /* First Right */
  .logos {
      text-align: left;
      margin-left: 3rem;
  }
  .images2{
    width: 32px;
    height: 32px;
      margin-right: 3px;
  }

  /* Media Query for footer ends here */
  /* Media Query for footer ends here */
  .End {
      background-color: black;
      /* padding: 28px; */
      height: 13vh;
      font-size: 11.5px;
  }

    .lefts,.rights{
      margin-top: 1rem;
      text-align: center;
      /* float: left; */
      width: 100%;

    }
    .rights{
      text-align:center;
    }
    .ending{
      margin-left: 0rem;
    }
    .ending1 {
      /* margin-left: 36rem; */
      margin-left: 2rem;

      margin-bottom:12px;
      text-align: right;
      justify-content: space-between;
      margin-right: 0rem;
      color: #fff;

    }
    /* Ends here */


}
/* Media Query For Navbar Ends Here */

@keyframes slide {
  0%{
    left: 100%;
    width: 100%;
  }
  15%{
    left: 0%;
  }
  30%{
    left: 0%;

  }
  45%{
    left: -100%;
    width: 100%;
  }
  50.0001%{
    left: 100%;
    /* width: 0%; */
    width: 0%;

  }
  100%{
    left:100%;
    width: 0%;

  }
}
